// VideoPlayer.scss

.video-player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .video-player {
    width: 60%;

    video {
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      outline: none;

      &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
